<div class="container">
  <h1>Longest Word Game</h1>
  <h4> Neste jogo você deverá descobrir qual a maior palavra que pode ser formada a partir de uma sequência de letras aleatórias</h4>
</div>

<%= link_to "New Game", new_path %>
<%# <%= link_to score, new_score %>
